User-Mode/Debug/
User-Mode/Release
User-Mode/SRDF.ncb
User-Mode/SRDF.sln
User-Mode/SRDF.suo
User-Mode/SRDF.ncb
User-Mode/SRDF.ncb
User-Mode/SRDF.sln
User-Mode/SRDF.suo
User-Mode/SRDF.vcproj
Kernel-Mode/buildchk_win7_ia64.err
Kernel-Mode/buildchk_win7_ia64.log
Kernel-Mode/buildchk_win7_ia64.wrn
Kernel-Mode/buildchk_win7_x86.err
Kernel-Mode/buildchk_win7_x86.log
Kernel-Mode/buildchk_win7_x86.wrn
Kernel-Mode/objchk_win7_ia64/ia64/_objects.mac
Kernel-Mode/objchk_win7_x86/i386/_objects.mac
User-Mode/_UpgradeReport_Files/UpgradeReport.css
User-Mode/_UpgradeReport_Files/UpgradeReport.xslt
User-Mode/_UpgradeReport_Files/UpgradeReport_Minus.gif
User-Mode/_UpgradeReport_Files/UpgradeReport_Plus.gif
User-Mode/Debug/BuildLog.htm
User-Mode/Debug/cAPIHook.obj
User-Mode/Debug/cApp.obj
User-Mode/Debug/cCode.obj
User-Mode/Debug/cConsoleApp.obj
User-Mode/Debug/cDebugger.obj
User-Mode/Debug/cELFFile.obj
User-Mode/Debug/cEventIPC.obj
User-Mode/Debug/CFile.obj
User-Mode/Debug/cFileToWrite.obj
User-Mode/Debug/cHash.obj
User-Mode/Debug/cHTTPSocket.obj
User-Mode/Debug/cl.command.1.tlog
User-Mode/Debug/CL.read.1.tlog
User-Mode/Debug/CL.write.1.tlog
User-Mode/Debug/cList.obj
User-Mode/Debug/cLog.obj
User-Mode/Debug/CPEFile.obj
User-Mode/Debug/CPokasAsm.obj
User-Mode/Debug/CPokasEmu.obj
User-Mode/Debug/cProcess.obj
User-Mode/Debug/cProcessScanner.obj
User-Mode/Debug/cRecursiveScanner.obj
User-Mode/Debug/cSerializer.obj
User-Mode/Debug/cSQLiteDatabase.obj
User-Mode/Debug/cString.obj
User-Mode/Debug/cThread.obj
User-Mode/Debug/DebuggerExample.exe
User-Mode/Debug/DebuggerExample.ilk
User-Mode/Debug/DebuggerExample.pdb
User-Mode/Debug/dllmain.obj
User-Mode/Debug/FlameDetector.pdb
User-Mode/Debug/link-cvtres.read.1.tlog
User-Mode/Debug/link-cvtres.write.1.tlog
User-Mode/Debug/link.5284-cvtres.read.1.tlog
User-Mode/Debug/link.5284-cvtres.write.1.tlog
User-Mode/Debug/link.5284.read.1.tlog
User-Mode/Debug/link.5284.write.1.tlog
User-Mode/Debug/link.command.1.tlog
User-Mode/Debug/link.read.1.tlog
User-Mode/Debug/link.write.1.tlog
User-Mode/Debug/mt.command.1.tlog
User-Mode/Debug/mt.read.1.tlog
User-Mode/Debug/mt.write.1.tlog
User-Mode/Debug/Q-CERT-AV.exe
User-Mode/Debug/Q-CERT-AV.ilk
User-Mode/Debug/Q-CERT-AV.pdb
User-Mode/Debug/rc.command.1.tlog
User-Mode/Debug/rc.read.1.tlog
User-Mode/Debug/rc.write.1.tlog
User-Mode/Debug/SRDF.Build.CppClean.log
User-Mode/Debug/SRDF.dll.embed.manifest
User-Mode/Debug/SRDF.dll.embed.manifest.res
User-Mode/Debug/SRDF.dll.intermediate.manifest
User-Mode/Debug/SRDF.exp
User-Mode/Debug/SRDF.ilk
User-Mode/Debug/SRDF.lastbuildstate
User-Mode/Debug/SRDF.lib
User-Mode/Debug/SRDF.log
User-Mode/Debug/SRDF.pch
User-Mode/Debug/SRDF.pdb
User-Mode/Debug/SRDF.unsuccessfulbuild
User-Mode/Debug/SRDF.write.1.tlog
User-Mode/Debug/SRDF_manifest.rc
User-Mode/Debug/SRDFTest.exe
User-Mode/Debug/SRDFTest.ilk
User-Mode/Debug/SRDFTest.pdb
User-Mode/Debug/stdafx.obj
User-Mode/Debug/vc100.idb
User-Mode/Debug/vc100.pdb
User-Mode/Debug/vc110.idb
User-Mode/Debug/vc110.pdb
User-Mode/Debug/vc90.idb
User-Mode/Debug/vc90.pdb
User-Mode/Debug/X86 Emulator.dll
User-Mode/EncodedStrings.cpp
User-Mode/Examples/DebuggerExample/Debug/cl.command.1.tlog
User-Mode/Examples/DebuggerExample/Debug/CL.read.1.tlog
User-Mode/Examples/DebuggerExample/Debug/CL.write.1.tlog
User-Mode/Examples/DebuggerExample/Debug/DebuggerExample.exe.intermediate.manifest
User-Mode/Examples/DebuggerExample/Debug/DebuggerExample.lastbuildstate
User-Mode/Examples/DebuggerExample/Debug/DebuggerExample.log
User-Mode/Examples/DebuggerExample/Debug/DebuggerExample.obj
User-Mode/Examples/DebuggerExample/Debug/DebuggerExample.pch
User-Mode/Examples/DebuggerExample/Debug/DebuggerExample.unsuccessfulbuild
User-Mode/Examples/DebuggerExample/Debug/DebuggerExample.write.1.tlog
User-Mode/Examples/DebuggerExample/Debug/DebuggerExample_manifest.rc
User-Mode/Examples/DebuggerExample/Debug/link-cvtres.read.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link-cvtres.write.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.1760-cvtres.read.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.1760-cvtres.write.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.1760.read.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.1760.write.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.1904-cvtres.read.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.1904-cvtres.write.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.1904.read.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.1904.write.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.3192-cvtres.read.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.3192-cvtres.write.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.3192.read.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.3192.write.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.3512-cvtres.read.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.3512-cvtres.write.1.tlog
User-Mode/Examples/DebuggerExample/Debug/DebuggerExample.exe.intermediate.manifest
User-Mode/Examples/DebuggerExample/Debug/DebuggerExample.obj
User-Mode/Examples/DebuggerExample/Debug/DebuggerExample.pch
User-Mode/Examples/DebuggerExample/Debug/link.3512.read.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.3512.write.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.6132-cvtres.read.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.6132-cvtres.write.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.6132.read.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.6132.write.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.916-cvtres.read.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.916-cvtres.write.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.916.read.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.916.write.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.command.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.read.1.tlog
User-Mode/Examples/DebuggerExample/Debug/link.write.1.tlog
User-Mode/Examples/DebuggerExample/Debug/mt.command.1.tlog
User-Mode/Examples/DebuggerExample/Debug/mt.read.1.tlog
User-Mode/Examples/DebuggerExample/Debug/mt.write.1.tlog
User-Mode/Examples/DebuggerExample/Debug/rc.command.1.tlog
User-Mode/Examples/DebuggerExample/Debug/rc.read.1.tlog
User-Mode/Examples/DebuggerExample/Debug/rc.write.1.tlog
User-Mode/Examples/DebuggerExample/Debug/stdafx.obj
User-Mode/Examples/DebuggerExample/Debug/vc100.idb
User-Mode/Examples/DebuggerExample/Debug/vc100.pdb
User-Mode/Debug/BuildLog.htm
User-Mode/Debug/DebuggerExample.ilk
User-Mode/Debug/DebuggerExample.pdb
User-Mode/Debug/FlameDetector.pdb
User-Mode/Debug/SRDF.dll.embed.manifest
User-Mode/Debug/SRDF.pch
User-Mode/Debug/SRDFTest.pdb
User-Mode/Debug/stdafx.obj
User-Mode/Debug/vc90.idb
User-Mode/Debug/vc90.pdb
User-Mode/Examples/DebuggerExample/Debug/DebuggerExample.exe.intermediate.manifest
User-Mode/Examples/DebuggerExample/Debug/DebuggerExample.obj
User-Mode/Examples/DebuggerExample/Debug/DebuggerExample.pch
User-Mode/Examples/DebuggerExample/Debug/stdafx.obj
User-Mode/Examples/DebuggerExample/DebuggerExample.vcxproj
User-Mode/Examples/DebuggerExample/Release/BuildLog.htm
User-Mode/Examples/DebuggerExample/Release/cl.command.1.tlog
User-Mode/Examples/DebuggerExample/Release/CL.read.1.tlog
User-Mode/Examples/DebuggerExample/Release/CL.write.1.tlog
User-Mode/Examples/DebuggerExample/Release/DebuggerExample.Build.CppClean.log
User-Mode/Examples/DebuggerExample/Release/DebuggerExample.exe.intermediate.manifest
User-Mode/Examples/DebuggerExample/Release/DebuggerExample.lastbuildstate
User-Mode/Examples/DebuggerExample/Release/DebuggerExample.log
User-Mode/Examples/DebuggerExample/Release/DebuggerExample.obj
User-Mode/Examples/DebuggerExample/Release/DebuggerExample.pch
User-Mode/Examples/DebuggerExample/Release/link-cvtres.read.1.tlog
User-Mode/Examples/DebuggerExample/Release/link-cvtres.write.1.tlog
User-Mode/Examples/DebuggerExample/Release/link-rc.read.1.tlog
User-Mode/Examples/DebuggerExample/Release/link-rc.write.1.tlog
User-Mode/Examples/DebuggerExample/Release/link.command.1.tlog
User-Mode/Examples/DebuggerExample/Release/link.read.1.tlog
User-Mode/Examples/DebuggerExample/Release/link.write.1.tlog
User-Mode/Examples/DebuggerExample/Release/mt.dep
User-Mode/Examples/DebuggerExample/Release/stdafx.obj
User-Mode/Examples/DebuggerExample/Release/vc110.pdb
User-Mode/Examples/DebuggerExample/Release/vc90.idb
User-Mode/Examples/DebuggerExample/Release/vc90.pdb
User-Mode/ipch/debuggerexample-58bf09ea/debuggerexample-9c738f17.ipch
User-Mode/ipch/flamedetector-c14543d3/flamedetector-6238b52b.ipch
User-Mode/ipch/flamedetector-c14543d3/flamedetector-9dc664a5.ipch
User-Mode/ipch/q-cert av-62177858/q-cert-av-337f5d96.ipch
User-Mode/ipch/q-cert av-62177858/q-cert-av-fb425b1c.ipch
User-Mode/ipch/srdf-b4f71ba0/srdf-6b9d4b1f.ipch
User-Mode/ipch/srdf-b4f71ba0/srdf-fcad4d9b.ipch
User-Mode/ipch/srdftest-187c2a93/srdftest-d010aab5.ipch
User-Mode/SRDF.opensdf
User-Mode/UpgradeLog.XML
User-Mode/UpgradeLog2.XML
User-Mode/Debug/BuildLog.htm
User-Mode/Debug/DebuggerExample.ilk
User-Mode/Debug/DebuggerExample.pdb
User-Mode/Debug/FlameDetector.pdb
User-Mode/Debug/SRDF.dll.embed.manifest
User-Mode/Debug/SRDF.pch
User-Mode/Debug/SRDFTest.pdb
User-Mode/Debug/stdafx.obj
User-Mode/Debug/vc90.idb
User-Mode/Debug/vc90.pdb
User-Mode/Examples/DebuggerExample/Debug/DebuggerExample.exe.intermediate.manifest
User-Mode/Examples/DebuggerExample/Debug/DebuggerExample.obj
User-Mode/Examples/DebuggerExample/Debug/DebuggerExample.pch
User-Mode/Examples/DebuggerExample/Debug/stdafx.obj
User-Mode/Examples/DebuggerExample/Release/BuildLog.htm
User-Mode/Examples/DebuggerExample/Release/DebuggerExample.exe.intermediate.manifest
User-Mode/Examples/DebuggerExample/Release/DebuggerExample.obj
User-Mode/Examples/DebuggerExample/Release/DebuggerExample.pch
User-Mode/Examples/DebuggerExample/Release/mt.dep
User-Mode/Examples/DebuggerExample/Release/stdafx.obj
User-Mode/Examples/DebuggerExample/Release/vc90.idb
User-Mode/Examples/DebuggerExample/Release/vc90.pdb
User-Mode/Examples/DebuggerExample/Debug
*.sdf
*.ncb
*.opensdf

ipch/
Release/
Debug/